<div class="container">
  <h1>Create akaun page</h1>
  <a href="/">home<a>  | <a href="/logout">logout<a>
  <form action="createaccount" method="post">
  Username:<br>
  <input type="text" name="username">
  <br>
  Passwerd:<br>
  <input type="password" name="pwd">
  <input type="submit" value="Create la">
  </form>

  <p>login? <%= session['pss'] %></p>


</div>
